.img-frame {
  height: 100%;
  max-width: 10.4rem;
  max-height: 10.4rem;
  border: 1px solid #f6f4f3;
  border-top-color: #fff;
  border-radius: 0.5rem;
  background-color: #ebe8e5;
  padding: 5px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 15%);
}

.img {
  width: 100%;
  height: 100%;
}

.img--framed {
  max-height: 10.4rem;
  max-width: 10.4rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
