// Define Heading utility classes here

@mixin heading {
  font-family: $f-secondary;
  font-weight: 400;
}

@mixin heading-2 {
  @include heading();
  font-size: 56px;
  line-height: 1.14;
}

@mixin heading-3 {
  @include heading();
  font-size: 40px;
  line-height: 1.2;
}

@mixin heading-4 {
  @include heading();
  font-size: 24px;
  line-height: 1.33;
}
