{% set element_classes = [
  'link',
  'link-clear'
] %}

{% if extra_classes %}
  {% if extra_classes is iterable %}
    {% for extra_class in extra_classes %}
      {% set element_classes = element_classes|merge([extra_class]) %}
    {% endfor %}
  {% else %}
    {% set element_classes = element_classes|merge([extra_classes]) %}
  {% endif %}
{% endif %}

<a href="{{ linkUrl }}" class="{{ element_classes|join(' ')|trim }}">
    <img src="{{ linkText }}" class="{{ linkImgClass }}"/>
</a>
