@import '../../config.all';

.categories__ul {
  @include list-clear-all;
  display: flex;
  @include breakpoint($upto-desktop) {
    flex-direction: column;
  }
}
.categories__item {
  padding: 0 5px;
}
.category__link {
  font-family: var(--f-primary);
  font-size: 16px;
  font-weight: 700;
  color: var(--c-black);
  text-decoration: none;
}
