$mobile: 320px; // min width
$tablet: 768px; // min width
$desktop: 1025px; // min width
$mobile-min-max: 320px 767px;
$table-min-max: 768px 1024px;
$mobile-max: max-width 767px;
$tablet-max: max-width 1024px;
