// Define colors here.
// $c-secondary-light: #ffdd78;
// $c-white: #ffffff;
// $c-gray: rgba(0, 0, 0, 0.297017);
// $c-grey-light: rgba(0, 0, 0, 0.5);
// $c-black-50: rgba(0, 0, 0, 0.5);
// $primary_1: #434CCC;
// $primary_2: #F1B505;

$c-primary: #434ccc;
$c-secondary: #f1b505;
$c-secondary-light: #ffd86d;
$c-background: #f2f2f2;
$c-white: #ffffff;
$c-black: #000000;
$c-black-50: rgba(0, 0, 0, 0.5);
$c-black-90: rgba(0, 0, 0, 0.9);
$c-white-50: rgba(255, 255, 255, 0.5);
$c-grey: rgba(0, 0, 0, 0.297017);
$c-grey-light: rgba(0, 0, 0, 0.1011);
$c-footer-bg: #f6f6fc;
