<div class="card-list">
  <div class="card-list__container">
    <div class="card-list__header">
      <h1 class="card-list__title">{{ 'Vivendo omnesque'|t }}</h1>
      <div class="card-list__subtitle">{{ 'Eu minim movet quodsi eum. Et vim dolore epicurei, ut aeque postea nam, at posse dicta est'|t }}</div>
    </div>
    <div class="card">
      <article class="card__container">
        <div>
          <div class="card__image"><img src="https://placeimg.com/100/100/tech"></div>
          <h2 class="card__title">Card Title</h2>
          <div class="card__description">Some body Text here</div>
          <div class="card__links">
            <a href="#">read more</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
