@import '../config.all';

.card-list {
  background-color: var(--c-secondary-light);
  padding: 6px 0 80px;

  @include breakpoint($desktop) {
    padding: 24px 0 80px;
  }
}

.card-list__container {
  @include container();
  display: flex;
  flex-wrap: wrap;
}

.card-list__header {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
}

.card-list__title {
  @include heading-3;
  margin: 0 0 29px;

  @include breakpoint($desktop) {
    @include heading-2;
  }
}

.card-list__subtitle {
  @include text-big;
  @include text-black;
  max-width: 570px;
  text-align: center;
}

// CSS for indiviual card
.card:not(:last-child) {
  margin-bottom: 16px;

  @include breakpoint($desktop) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  @include breakpoint($tablet) {
    width: 100%;
  }
}

.card__container {
  width: 100%;
  background: white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 64px 32px 21px;
  box-sizing: border-box;
  margin: 0px;

  @include breakpoint($desktop) {
    width: 370px;
  }
}

.card__title {
  @include heading-4;
  @include text-black;
  margin-top: 54px;
  margin-bottom: 15px;
}

.card__description {
  @include text;
  @include text-black-50;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--c-grey-light);
}

.card__links {
  @include text-bold;
  @include text-black;
  padding-top: 18px;

  .links {
    @include list-clear-all;
  }

  a {
    @include link-clear;
    @include text-black;
    @include icon-after;
  }
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
