@import '../config.all';

*,
::after,
::before {
  @include global-reset;
}
body.disable-scroll {
  overflow-y: hidden !important;
  scroll-behavior: unset !important;
}

.nav__container {
  background-color: $c-primary;
  @include breakpoint($desktop) {
    @include container-fluid;
    .navbar {
      display: flex;
      flex-direction: row;
      padding: 16px 0 !important;
      align-items: center;
      @include container;
      #block-drupalastic-branding {
        flex-grow: 2;
      }
      .navbar-nav {
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .navbar-nav__list {
          font-family: $f-primary;
          display: flex;
          flex-direction: row;
          list-style: none;
          justify-content: flex-end;
          width: 90%;
          align-items: center;
          li {
            padding: 0 15px;
            a {
              color: $c-white;
              font-size: 16px;
              text-decoration: none;
              transition: color 0.5s linear, background-color 0.5s ease-in-out;
              &:hover {
                color: $c-white-50;
              }
            }
            &:last-child {
              a {
                border: 1px solid $c-white;
                padding: 13px 50px;
                border-radius: 5px;
                transition: color 0.5s linear, background-color 0.5s ease-in-out;
                &:hover {
                  border: 1px solid $c-white;
                  background-color: $c-white;
                  color: $c-primary;
                }
              }
            }
          }
        }
        .burger {
          display: none;
          // background: #ffffff;
          // height: 30px;
          // width: 30px;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          div {
            width: 20px;
            height: 2px;
            background: #e2e2e2;
            margin: 2px 0;
            &:nth-of-type(1) {
            }
          }
        }
      }
    }
  }
  @include breakpoint($tablet) {
    padding: 0 5%;
    .navbar {
      display: flex;
      flex-direction: row;
      padding: 16px 0 !important;
      align-items: center;
      @include container;
      #block-drupalastic-branding {
        flex-grow: 2;
      }
      .navbar-nav {
        flex-grow: 2;
        .navbar-nav__list {
          font-family: $f-primary;
          display: flex;
          flex-direction: row;
          list-style: none;
          justify-content: flex-end;
          li {
            padding: 0 10px;
            a {
              color: $c-white;
              font-size: 20px;
              text-decoration: none;
              transition: color 0.5s linear, background-color 0.5s ease-in-out;
              &:hover {
                color: $c-white-50;
              }
            }
            &:last-child {
              a {
                border: 1px solid $c-white;
                padding: 8px 30px;
                border-radius: 5px;
                transition: color 0.5s linear, background-color 0.5s ease-in-out;
                &:hover {
                  border: 1px solid $c-white;
                  background-color: $c-white;
                  color: $c-primary;
                }
              }
            }
          }
        }
        .burger {
          display: none;
          // background: #ffffff;
          // height: 30px;
          // width: 30px;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          div {
            width: 20px;
            height: 2px;
            background: #e2e2e2;
            margin: 2px 0;
            &:nth-of-type(1) {
            }
          }
        }
      }
    }
  }
  @include breakpoint($mobile) {
    padding: 0 5%;
    .navbar {
      display: flex;
      flex-direction: row;
      padding: 16px 0 !important;
      align-items: center;
      justify-content: space-between;
      @include container;
      #block-drupalastic-branding {
        flex-grow: 2;
      }
      .navbar-nav {
        flex-grow: 2;
        position: relative;
        z-index: 999;
        .navbar-nav__list {
          font-family: $f-primary;
          display: flex;
          position: fixed;
          flex-direction: column;
          list-style: none;
          justify-content: center;
          height: 100vh;
          width: 100vw;
          align-items: center;
          background-color: $c-black-90;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
          li {
            padding: 5px 15px;
            a {
              color: $c-white;
              text-decoration: none;
              @include text-huge;
            }
          }
          .close-sidebar {
            position: absolute;
            font-size: 2rem;
            top: 10%;
            right: 6%;
            color: $c-white;
            cursor: pointer;
          }
        }
        .navbar-nav__list.nav-active {
          transform: translateX(0%) !important;
          z-index: 999;
        }
      }
      .burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        right: 5%;
        position: absolute;
        top: -9px;
        div {
          width: 20px;
          height: 2px;
          background: #e2e2e2;
          margin: 2px 0;
        }
      }
    }
  }
}
