@import '../../../config.all';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.heading {
  font-family: var(--f-secondary);
  font-weight: 400;
}

.heading-1 {
  font-size: 72px;
  line-height: 80px;
  color: var(--c-black);
  &--primary {
    color: var(--c-primary);
  }
  &--white {
    color: var(--c-white);
  }
}
.heading-2 {
  font-size: 56px;
  line-height: 1.14;

  &--primary {
    color: var(--c-primary);
  }

  &--secondary {
    color: var(--c-secondary);
  }
  &--white {
    color: var(--c-white);
  }
  &--m-h3 {
    @include breakpoint($upto-tablet) {
      @include heading-3;
    }
  }
}

.heading-3 {
  font-size: 40px;
  line-height: 1.2;
}

.heading-4 {
  font-size: 24px;
  line-height: 1.33;
}
.heading-5 {
  font-size: 16px;
  line-height: 1.2;
  &--white {
    color: var(--c-white);
  }
}
