// Define Heading utility classes here
@mixin heading {
  font-family: var(--f-secondary);
  font-weight: 400;
}

@mixin heading-1 {
  @include heading();
  font-size: 40px;
  line-height: 48px;
}

@mixin heading-2 {
  @include heading();
  font-size: 56px;
  line-height: 1.14;
}

@mixin heading-3 {
  @include heading();
  font-size: 40px;
  line-height: 1.2;
}

@mixin heading-4 {
  @include heading();
  font-size: 24px;
  line-height: 1.33;
}
@mixin heading-5 {
  @include heading();
  font-size: 72px;
  line-height: 1.15;
}
