// Text utilities

@mixin text {
  font-family: var(--f-primary);
  font-size: 16px;
  line-height: 1.5;
}

@mixin text-bold {
  @include text();
  font-weight: 700;
}

@mixin text-big {
  font-family: var(--f-primary);
  font-size: 20px;
  line-height: 1.6;
}

@mixin text-black {
  color: var(--c-black);
}

@mixin text-black-50 {
  color: var(--c-black-50);
}
