{{ attach_library('drupalastic/social') }}
{{ attach_library('drupalastic/base') }}

{% set taglist_wrapper_classes = [
  'tags__ul',
] %}
{% set tag_li_classes = [
  'tags__item',
] %}
{% if extra_classes %}
  {% if extra_classes is iterable %}
    {% for extra_class in extra_classes %}
      {% set taglist_wrapper_classes = taglist_wrapper_classes|merge([extra_class]) %}
    {% endfor %}
  {% else %}
    {% set taglist_wrapper_classes = taglist_wrapper_classes|merge([extra_classes]) %}
  {% endif %}
{% endif %}

{% if extra_li_classes %}
  {% if extra_li_classes is iterable %}
    {% for extra_li_class in extra_li_classes %}
    {% set tag_li_classes = tag_li_classes|merge([extra_li_class]) %}
    {% endfor %}
  {% else %}
    {% set tag_li_classes = tag_li_classes|merge([extra_li_classes]) %}
  {% endif %}
{% endif %}

<ul class="{{ taglist_wrapper_classes|join(' ')|trim }}">
  {% for tag in tags %}
    <li class="{{ tag_li_classes|join(' ')|trim }}">
      {% include '@atoms/link/link.twig' with {
        "linkUrl": tag.linkUrl,
        "extra_classes": tag__link__Classes,
        "linkText": tag.linkText
      } %}
    </li>
  {% endfor %}
</ul>
