  <!--DO NOT REMOVE-->
  {{ patternLabFoot|raw }}
  <!-- inject:js -->
  <script src="{{ asset("/dist/js/03-molecules/understanding-gulp/understanding-ts.js") }}"></script>
  <script src="{{ asset("/dist/js/main.js") }}"></script>
  <!-- endinject -->
</body></html>
