  <!--DO NOT REMOVE-->
  {{ patternLabFoot|raw }}
  <!-- inject:js -->
  <script src="{{ asset("/dist/js/04-organisms/ts/header.js") }}"></script>
  <script src="{{ asset("/dist/js/main.js") }}"></script>
  <!-- endinject -->
</body></html>
