@import '../../../config.all';

.paragraph {
  font-family: var(--f-primary);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  &-gray {
    color: var(--c-black-50);
  }
  &-white {
    color: var(--c-white);
  }
  &-semiwhite {
    color: var(--c-white-50);
  }
}
